#pardot-form .form-field {
    margin:0;
    padding:5px 0 0 0;
} 
/* The input fields */ 
#pardot-form input.text,
#pardot-form textarea.standard,
#pardot-form select,
#pardot-form input.date { 
   background-color:white;
   border:solid 1px #0b5cff;
   font-size:15px;
   color:#757575;
   -moz-border-radius:25px;
   -webkit-border-radius:25px;
   border-radius:25px;
   padding-top:10px;
   padding-bottom:10px;
   padding-left:15px;
   padding-right:15px;
   width:100%;
   font-family:'Roboto', sans-serif;
   box-sizing:border-box;
}
/* the input fields on focus */ 
#pardot-form input.text:focus,
#pardot-form textarea.standard:focus,
#pardot-form select:focus,
#pardot-form input.date:focus { 
   border-color:#cccccc;
   outline: none;
}
#pardot-form span.value { 
   margin-left: 0;
}
/* the field labels */ 
#pardot-form label {
   font-size:15px;
   color:black;
   font-weight:normal;
   padding-top:5px;
   padding-bottom:5px;
   float:none;
   text-align:left;
   width:auto;
   display:block;
}
/* the submit button */ 
#pardot-form .submit input {
   margin:0;
   background-color:#0b5cff;
   border:solid 1px #0b5cff;
   font-size:16px;
   color:#FFFFFF;
   font-weight:normal;
   padding-top:10px;
   padding-bottom:10px;
   padding-right:30px;
   padding-left:30px;
   -moz-border-radius:25px;
   -webkit-border-radius:25px;
   border-radius:25px;
   width:100%;
}
/* the submit button hover */ 
#pardot-form .submit input:hover {
   background-color:#0050f0;
   border-color:#0050f0;
   color:#FFFFFF;
}
/* the spacing around the submit button */ 
#pardot-form .submit {
   margin:0;
   padding-top:25px;
   padding-bottom:0px;
   text-align:center;
}
/* hide the regular checkbox */
.pd-checkbox input {
   opacity: 0;
   position: absolute;
}
/* position the label */
.pd-checkbox input, .pd-checkbox label {
   display: inline-block;
   vertical-align: middle;
   margin: 5px;
   cursor: pointer;
}
.pd-checkbox label {
   position: relative;
}
/* style the unchecked checkbox */
.pd-checkbox input+label:before {
   content: '';
   background:white;
   border: 1px solid#0b5cff ;
   display: inline-block;
   vertical-align: middle;
   width: 20px;
   height: 20px;
   padding: 0px;
   margin-right: 10px;
   text-align: center;
   font-size: 15px;
   line-height: normal;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}
/* style the checked checkbox */
.pd-checkbox input:checked+label:before {
   content: "\2713";
   background:#0b5cff;
   color:white;
   border-color:#0b5cff;
}
form.form p.no-label {
   margin-left: 0 !important;
}

/* hide the regular radio button */
.pd-radio input {
   opacity: 0;
   position: absolute;   
}
/* position the label */
.pd-radio input, .pd-radio label {
   display: inline-block;
   vertical-align: middle;
   margin: 5px;
   cursor: pointer;
}
.pd-radio label {
   position: relative;
}
/* style the unchecked radio button */
.pd-radio input + label:before {
   content: '';
   background:white;
   border: 1px solid#0b5cff;
   display: inline-block;
   vertical-align: middle;
   width: 20px;
   height: 20px;
   padding: 0px;
   margin-right: 10px;
   text-align: center;
   font-size: 15px;
   line-height: normal;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}
.pd-radio input + label:before {
   border-radius: 50%;
}
/* style the selected radio button */
.pd-radio input:checked + label:before {
   content: "\25CF";
   background:#0b5cff;
   color:white;
   border-color:#0b5cff;
}